#gallery {
    padding:50px 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.75);
    figure {
        position: relative;
        width:100%;
        margin:16px 16px;                                       
        flex:0 0 100%;
        img {
            width:100%;
            height:100%;
            object-fit: cover;
        }
        figcaption {
            position: absolute; 
            bottom: 10px;
            left: 20px; 
            width: 100%;
            color:#ffffff;
            font-size: 23px;
            letter-spacing: 1px;
        }
    }
    .gallery-btn {
        margin-top:40px;
        align-self: center;
        .btn {
            background-color:#30333c;
            color: #ffffff;
            border-radius: 45px;
            padding:10px 28px;
            border-style: none;
            cursor: pointer;
            font-size:18px;
            &:focus {
                outline: none;
            }
            .fa-long-arrow-alt-right {
                color:#ffffff;
                padding-left:15px;
                font-size:18px;
                line-height: 18px;
            }
        }
    }
}

@media (min-width:650px) {
    #gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        figure {
            flex:0 0 30%;
        }
        .gallery-btn {
            flex:0 0 100%;
            text-align: center;
        }
    }
}