
.main {
    border-bottom-right-radius: 400px;
    .hero {
        background-color: lightblue;
    }
    .hero h1 {
        padding:60px 0px 0px 60px;
        margin:0;
    }
    .carousel-cards {
        display: flex;
    }
}
